.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: center;
    text-align: center;
    border: 2px solid transparent;
    border-image:linear-gradient(45deg,red,blue) 10;
    padding: 20px;
    
}
.skill img{
    height: 3rem;
}

/**********mediaQuery *****************************************************/
@media screen and (max-width:576px) {
    .skill img{
        height: 2rem;
    }
    .skill h3{
    font-size: 1rem !important;
    }

  }

  @media screen and (max-width:1200px)and (min-width:577px)  {
    .skill img{
        height: 2.5rem;
    }
    .skill h3{
        font-size: 1.5rem !important;
        }
}