.courses  a{

        color: rgb(39, 19, 226);
        font-size: 1.5rem;
      }

      @media screen and (max-width:576px) {
        .courses a{

            color: rgb(39, 19, 226);
            font-size: 1rem;
          }
    
      }