
.headerContainer h2{
font-size: 1.25rem;
font-weight: 700 !important;
}
/*npm uninstall -g yarn*/
.exper{
    padding-top:1.5rem ;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 100% 98%, 0px 100%) !important;
    background-color: blue;
}
.headerContainer h1{
    font-size: 4rem;
    font-weight: 700 !important;
 line-height: 4rem;
 margin: 50px 0px ;
 font-family: 'Montserrat', sans-serif  ;
    }
.headerContainer h2 span {
    color: red !important;
    }
  .connectBtn{
      background: #000 !important;
      color: #FFF !important;
      text-transform: uppercase;
      border-radius: 0% !important;
      margin-top: 20px;
    }  
.headerContainer p{
    font-size: 20px;
}
/**********mediaQuery *****************************************************/
@media screen and (max-width:576px) {
    .headerContainer h2{
        font-size: 1rem;
        font-weight: 700 !important;
        }
        /*npm uninstall -g yarn*/
        
        .headerContainer h1{
            font-size: 1.75rem;
         line-height: 2rem;
         margin: 25px 0px ;
          
            }
            
        .headerContainer p{
            font-size: 18px;
        }
.connectBtn{
    font-size: 14px !important;
}
    }

@media screen and (max-width:768px) and (min-width:577px)  {
  
}


@media screen and (max-width:992px) and (min-width:769px)  {
    
}


@media screen and (max-width:1200px)and (min-width:993px)  {
    .headerContainer h2{
        font-size: 1rem;
        font-weight: 700 !important;
        }
        /*npm uninstall -g yarn*/
        
        .headerContainer h1{
            font-size:3rem;
         line-height: 3rem;
         margin: 25px 0px ;
          /* color: blue !important; */
            }
            
        .headerContainer p{
            font-size: 20px;
        }
}


@media screen and (max-width:1400px)and (min-width:1201px)  {
   
}